<!DOCTYPE html>
<!--[if IE 7]>
<html class="ie ie7" <?php language_attributes(); ?>>
<![endif]-->
<!--[if IE 8]>
<html class="ie ie8" <?php language_attributes(); ?>>
<![endif]-->
<!--[if !(IE 7) & !(IE 8)]><!-->
<html lang="en" >
<!--<![endif]-->
<head>
	
	<!-- Content Security Policy
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<!-- <meta http-equiv="Content-Security-Policy" content="default-src https:"> -->
	<!-- Basic Page Needs
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<meta charset="utf-8">
	<!-- Mobile Specific Metas
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Ringotel news</title>
	<meta name="description" content="" />
	<meta name="keywords" content>

</head>
<body>
	<div class="main-wrapper"></div>
</body>
</html>