<p>Приветствуем, {{name}}!</p>
<br>
<p>Спасибо за ваш интерес к Ringotel Communication Center..</p>
<br>
<p>Мы стараемся сделать Ringotel как можно удобнее для наших пользователей, поэтому любая помощь для нас очень важна, будь-то рекомендации по содержанию сайта, или же по работе сервиса в целом.</p>
<br>
<p>Мы планируем запустить Ringotel в публичную бету в конце первого квартала этого года. Накануне этого вы получите регистрационный код для создания аккаунта Ringotel. Этот код предоставит вам постоянную 50% скидку на все тарифные планы Ringotel.</p>
<br>
<p>Мы будем оповещать вас обо всех изменениях и новостях Ringotel. Вы можете отписаться от сообщений с помощью ссылки внизу этого письма. Следите за нашими новостями в <a href="https://twitter.com/Ringotel_en">Twitter</a> и <a href="https://www.facebook.com/ringotel/">Facebook</a></p>
<br>
<p>Если у вас есть вопросы относительно этого письма или работе сервиса, пожалуйста обращайтесь к нам по адресу support@ringotel.co, или другим удобным для вас способом.</p>
<br>
<p>Оставайтесь с нами.</p>
