<h1>Рады приветствовать в Ringotel!</h1>
<p>Вы успешно создали аккаунт Ringotel. С этого момента вы можете войти в свою панели администратора с помощью этой ссылки:</p>
<a href="https://{{prefix}}.ringotel.co">{{prefix}}.ringotel.co</a>
<p>Если вы хотите, чтобы мы присылали вам электронные письма, которые помогут начать работу с Ringotel, просто перейдите по ссылки ниже.</p>
<p><a href="#">Подписаться на письма.</a> (Мы отправим вам только электронные письма, которые помогут вашему процессу отладки)</p>