<p>Hi, {{name}}!</p>
<br>
<p>Thank you for your interest in Ringotel Communication Center.</p>
<br>
<p>We tried to make Ringotel as comfortable as possible for our users, so any help is very important for us, whether it's advice on the content of the site, or by the service as a whole.</p>
<br>
<p>We are planing to launch Ringotel in public beta at the end of the first quarter of this year. The day before that, you'll get an access code to create a Ringotel account. This code will give you a permanent 50% discount on all Ringotel subscription plans.</p>
<br>
<p>We will notify you of any changes and news. You can unsubscribe from messages using the link in the footer of this message. Follow us on <a href="https://twitter.com/Ringotel_en">Twitter</a> and <a href="https://www.facebook.com/ringotel/">Facebook</a></p>
<br>
<p>If you have any questions or would like to learn more about Ringotel please feel free to email us at support@ringotel.co.</p>
<br>
<p>Stay tuned.</p>
