<p>Hi, {{name}}!</p>
<br>
<p>Thank you for your interest in Ringotel Communication Center.</p>
<br>
<!-- <p>One of our main objectives is to make Ringotel as comfortable and friendly as possible for our users, so any help is highly valuable for us, whether it's an advice about the content of the website, mobile and desktop apps usability, or about the service as a whole.</p> -->
<!-- <p>We are planing to launch Ringotel in public beta at the end of the first quarter of this year. Before that, you'll get an access code to create a Ringotel account. This code will give you a €1000 of credits to spend on all Ringotel Cloud subscription plans.</p> -->
<!-- <br> -->
<p>We will rich you as soon as possible to provide access to the private beta. You will be notified about any changes and news. Follow us on <a href="https://twitter.com/Ringotel_en">Twitter</a> and <a href="https://www.facebook.com/ringotel/">Facebook</a>. To unsubscribe from messages, use the link in the footer.</p>
<br>
<p>If you have any questions or would like to learn more about Ringotel please feel free to email us at support@ringotel.co.</p>
<br>
<p>Stay tuned.</p>
