<div class="col-sm-6">
	<h1>Add-on</h1>
	<form class="form">
		<label for="name">Name</label>
		<input type="text" name="name" ng-model="addon.name" class="form-control">
		<label for="description">Description</label>
		<input type="text" name="description" ng-model="addon.description" class="form-control">
		<br>
		<label for="neverExpires">Never Expires</label>
		<input type="checkbox" name="neverExpires" ng-model="addon.neverExpires">
		<br>
		<label for="billingCyrcles">Billing Cyrcles</label>
		<input type="number" name="billingCyrcles" ng-model="addon.billingCyrcles" class="form-control">
		<!-- <label for="billingFrequency">Billing Frequency (Interval)</label>
		<input type="number" name="billingFrequency" ng-model="addon.billingFrequency" class="form-control">
		<label for="frequencyUnit">Frequency Unit</label>
		<select type="select" name="frequencyUnit" ng-model="addon.frequencyUnit" class="form-control">
			<option value="days">Days</option>
			<option value="months">Months</option>
			<option value="years">Years</option>
		</select> -->
		<label for="price">Price</label>
		<input type="text" name="price" ng-model="addon.price" class="form-control">
		<label for="quantity">Quantity</label>
		<input type="text" name="quantity" ng-model="addon.quantity" class="form-control">
		<label for="currency">Currency</label>
		<input type="text" name="currency" ng-model="addon.currency" class="form-control">
		<br>
		<input type="submit" value="Save" ng-click="setAddon()">
		<input type="submit" ng-if="addon.name !== undefined" value="Delete" ng-click="deleteAddon()">
	</form>
</div>
