<p>Вітаємо, {{name}}!</p>
<br>
<p>Дякуємо за ваш інтерес до Ringotel Communication Center.</p>
<br>
<p>Ми намагаємося зробити Ringotel якомога зручнішим для нашіх користувачів, тому будь-яка допомога для нас дуже важлива, чи то рекомендації по змісту веб-сайту, або ж по роботі сервісу в цілому.</p>
<br>
<p>Ми плануємо запустити Ringotel в публічну бету у кінці першого кварталу цього року. Напередодні цього ви отримаєте реєстраційний код для створення властного аккаунта Ringotel. Цей код надасть вам постійну 50% знижку на всі тарифни плани Ringotel.</p>
<br>
<p>Ми будемо сповіщати вас про всі зміни та новини Ringotel. Ви можете відписатися від повідомлень за допомогою посилання внизу цього листа. Слідкуйте за нашими новинами у <a href="https://twitter.com/Ringotel_en">Twitter</a> та <a href="https://www.facebook.com/ringotel/">Facebook</a></p>
<br>
<p>Якщо у вас є запитання стосовно цього листа або роботі сервісу, будь ласка звертайтесь до нас за адресою support@ringotel.co, або іншим зручним для вас засобом.</p>
<br>
<p>Залишайтеся з нами.</p>
