<p>Вітаємо, {{name}}!</p>
<br>
<p>Дякуємо за інтерес до Ringotel Communication Center.</p>
<br>
<!-- <p>Ми намагаємося зробити Ringotel якомога зручнішим для нашіх користувачів, тому будь-яка допомога для нас дуже важлива, чи то рекомендації по змісту веб-сайту, або ж по роботі сервісу в цілому.</p> -->
<!-- <br> -->
<!-- <p>Ми плануємо запустити Ringotel в публічну бету у кінці першого кварталу цього року. Напередодні цього ви отримаєте реєстраційний код для створення властного аккаунта Ringotel. Цей код надає €1000 на баланс Ringotel, які ви можете витратити на будь-який тарифний план Ringotel Cloud.</p> -->
<!-- <br> -->
<p>Наша команда зв'яжеться з Вами у найближчий час, щоб надати доступ до бета-тестування. Ми будемо сповіщати вас про всі зміни та новини Ringotel. Слідкуйте за нашими новинами у <a href="https://twitter.com/Ringotel_en">Twitter</a> та <a href="https://www.facebook.com/ringotel/">Facebook</a>. Відписатися від повідомлень можна за допомогою посилання внизу цього листа.</p>
<br>
<p>Якщо у вас є запитання стосовно цього листа або роботи сервісу, будь ласка звертайтесь до нас за адресою support@ringotel.co, або іншим зручним для вас засобом.</p>
<br>
<p>Залишайтеся з нами.</p>
