<h1>Вітаємо у Ringotel!</h1>
<p>Ви успішно створили обліковий запис Ringotel. З цього моменту ви можете увійти до своєї панелі адміністратора за допомогою цього посилання:</p>
<a href="https://{{prefix}}.ringotel.co">{{prefix}}.ringotel.co</a>
<p>Якщо ви хочете, щоб ми надсилали вам електронні листи, які допоможуть розпочати роботу з Ringotel, просто перейдіть за посилання нижче.</p>
<p><a href="#">Підписатися на листи.</a> (Ми надішлемо вам лише електронні листи, які допоможуть вашому процесу налагодження)</p>
